* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Quicksand", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
	width: 100vw;
	color: #000000;
	position: relative;
}

#background-image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.clock {
	position: fixed;
	background: rgba(0, 0, 0, 0.2);
	padding: 5rem;
	color: #fff;
}

#time {
	display: inline-block;
	font-size: 10rem;
	margin-bottom: 0.5rem;
	width: 40rem;
}

h1 {
	margin-bottom: 3rem;
}

h2 {
	margin-bottom: 0.5rem;
	opacity: 0.6;
}

#focus {
	height: 3rem;
}

.footer {
	height: 5%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	padding: 0 3rem;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.lead {
	font-size: 1.6rem;
}

.pexel {
	font-size: 1rem;
}

.pexel a {
	text-decoration: none;
	padding-left: 0.5rem;
	color: coral;
}

.pexel a:hover {
	cursor: pointer;
}

@media (max-width: 567px) {
	#time {
		font-size: 6rem;
	}
	.footer {
		font-size: 1rem;
		padding: 0 1rem;
		height: 0;
		bottom: 2rem;
		justify-content: space-evenly;
	}
	.footer .lead {
		font-size: 1rem;
	}
}

@media (min-width: 1200px) {
	body {
		flex-direction: row;
		height: 100vh;
	}
}
